.lower-container {
  padding: 0 1rem;
  margin: 3rem;
}

p {
  margin-top: 1rem;
  color: purple;
  font-size: 1.8rem;
}

a {
  color: blue;
  cursor: pointer;
}

a:hover {
  padding: 0.2rem;
  text-decoration: underline;
}