/* Apply this universal selector as some elements have default padding and margin*/
*{
  margin: 0;
  padding: 0;
  /*Call me to understand this*/
  box-sizing: border-box;
}

html {
  /*Call me to understand this*/
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
